<!-- /**
 * Shoppr - E-commerce app starter Ionic 4(https://www.enappd.com)
 *
 * Copyright © 2018-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source .
 */ -->

<ion-header>
  <ion-toolbar color="mytheme">
    <ion-buttons slot="start">
      <ion-button>
        <ion-back-button color="light"></ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-title color="light">Cambiar Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item color="light" lines="none">
    <ion-col padding-vertical>
      <ion-row>
        <h4 class="small" no-margin><strong>Use este formulario para cambiar su contraseña.</strong></h4>
      </ion-row>
      <ion-row>
        <h4 class="small" no-margin>Ingrese su contraseña anterior para autorización</h4>
      </ion-row>
    </ion-col>
  </ion-item>
  <ion-item lines="none">
    <ion-col padding-vertical>
      <ion-row>
        <h4 class="small" no-margin>Password Actual</h4>
      </ion-row>
      <ion-row>
        <ion-input class="input" placeholder="Ingrese el password anterior" type="password" padding-horizontal></ion-input>
      </ion-row>
    </ion-col>
  </ion-item>
  <ion-item lines="none">
    <ion-col padding-vertical>
      <ion-row>
        <h4 class="small" no-margin>Password Nuevo</h4>
      </ion-row>
      <ion-row>
        <ion-input class="input" placeholder="Ingrese el nuevo password" type="password" padding-horizontal></ion-input>
      </ion-row>
      <ion-row>
        <ion-button expand="block" color="mytheme" (click)="fun.back()"><span class="white"><strong>Guardar</strong></span></ion-button>
      </ion-row>
    </ion-col>
  </ion-item>
</ion-content>