.card {
    box-shadow: unset;
    border-radius: 9px;
    background-color: white !important;
}
.price {
    font-size: 12px;
    float: left;
    margin: 2px;
}
.inline {
    font-size: 10px;
    margin-inline-end: 3px;
    text-decoration: line-through;
}
.subtitle {
    font-size: 10px;
    color: rgb(120, 120, 120);
}
.badge {
    position: absolute;
    top: 5%;
    left: 0;
    background-color: rgba(12, 12, 12, .75);
    border-radius: 0;
}