<!-- /**
 * Shoppr - E-commerce app starter Ionic 4(https://www.enappd.com)
 *
 * Copyright © 2018-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source .
 */ -->

<ion-header>
  <ion-toolbar color="mytheme">
    <ion-buttons slot="start">
        <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Configuracion Notificación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-row padding>
    <ion-text>
      <h4 no-margin class="medium"><strong>Notificaciones Push</strong></h4>
    </ion-text>
  </ion-row>
  <ion-list lines="none">
    <ion-item>
      <ion-row class="full">
        <ion-col>
          <ion-row>
            <h4 class="medium" no-margin>Órdenes</h4>
          </ion-row>
          <ion-row>
            <h4 class="small" no-margin>Notificar el estado de las órdenes</h4>
          </ion-row>
        </ion-col>
        <ion-col size="3">
          <ion-checkbox float-right checked="true"></ion-checkbox>
        </ion-col>
      </ion-row>
    </ion-item>
    <div class="sep"></div>
    <ion-item>
      <ion-row class="full">
        <ion-col>
          <ion-row>
            <h4 class="medium" no-margin>Promociones</h4>
          </ion-row>
          <ion-row>
            <h4 class="small" no-margin>Promociones y ofertas</h4>
          </ion-row>
        </ion-col>
        <ion-col size="3">
          <ion-checkbox float-right checked="true"></ion-checkbox>
        </ion-col>
      </ion-row>
    </ion-item>
    <div class="sep"></div>
    <ion-item>
      <ion-row class="full">
        <ion-col>
          <ion-row>
            <h4 class="medium" no-margin>Regalos</h4>
          </ion-row>
          <ion-row>
            <h4 class="small" no-margin>Cupones de regalo</h4>
          </ion-row>
        </ion-col>
        <ion-col size="3">
          <ion-checkbox float-right checked="true"></ion-checkbox>
        </ion-col>
      </ion-row>
    </ion-item>
    <div class="sep"></div>
    <ion-item>
      <ion-row class="full">
        <ion-col>
          <ion-row>
            <h4 class="medium" no-margin>Sistema</h4>
          </ion-row>
          <ion-row>
            <h4 class="small" no-margin>General, admin, y actualizaciones</h4>
          </ion-row>
        </ion-col>
        <ion-col size="3">
          <ion-checkbox float-right checked="true"></ion-checkbox>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-content>